<p>
  This array of people data is hardcoded in the "./people/people.controller.js" file.
</p>

<div class="default-layout__content crud" md-whiteframe="1">

  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span flex></span>
      <md-button class="md-accent md-raised" aria-label="Add people">
        <a ui-sref="people.add">
          <md-icon md-svg-icon="plus" aria-label="Ass people"></md-icon>
        </a>
      </md-button>
    </md-toolbar>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected" md-progress="promise">
      <thead md-head md-order="vm.query.order">
        <tr md-row>
          <th md-column md-order-by="name">Name</th>
          <th md-column>Age</th>
          <th md-column>Email</th>
          <th md-column>Phone</th>
          <th md-column>Address</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="person" md-select-id="{{person.codigo}}" md-auto-select ng-repeat="person in vm.people | orderBy: vm.query.order | limitTo: vm.query.limit: (vm.query.page- 1) * vm.query.limit">
          <td md-cell><a ui-sref="people.edit({ slug: person.id })">{{person.name}}</a></td>
          <td md-cell>{{person.age }}</td>
          <td md-cell>{{person.email}}</td>
          <td md-cell>{{person.phone}}</td>
          <td md-cell>{{person.address}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-label="{ page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de' }" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.people.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

</div>
